/*
        This is a comment
      */
button.red-button {
	color: white;
	background-color: red;
	border: none;
}

button.yellow-button {
	background-color: yellow;
}

button.add-to-cart {
	background-color: yellow;
}

button.buy-now {
	background-color: orange;
}
